.cartItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  /* padding-top: 20px; */
  padding: 20px 0;
  width: 60%;
  margin: auto;
}
.sideImg {
  justify-self: center;
}
.cartBookImg {
  width: 200px;
  height: 200px;
}
.details {
  border-top: none;
  justify-self: center;
}
.cartBookTitle {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.cartBookTitle,
.cartBookQuantity,
.cartBookPrice {
  font-size: 20px;
  font-weight: bold;
}
.cartBookPrice {
  margin-top: 10px;
  /* font-size: 30px; */
}
.cartAuthor {
  margin-top: 20px;
}
.cartBookQuantity {
  display: flex;
  margin-left: 20px;
}
.quantityOverall {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.quantityOverall span {
  font-size: 20px;
}
.quantitySign {
  border: 1px solid black;
  padding: 0 7px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  border-radius: 3px;
  outline: none;
}
.removeCartItem {
  margin-top: 10px;
  background-color: red;
  width: 70px;
}
.removeCartItem:hover {
  background-color: rgba(255, 0, 0, 0.7);
}
