@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins&display=swap");
.Header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #000;
}
.storetitle {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
}
.storetitle {
  text-decoration: none;
  color: #121212;
  outline: none;
  border: none;
}
.signOutLink {
  border: 1px solid black;
  border-radius: 4px;
  padding: 7px 10px;
  background-color: #fafafa;
  cursor: pointer;
}
.onLogin {
  display: flex;
  align-items: center;
}
.cart {
  margin-left: 50px;
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cartIcon {
  width: 30px;
  height: 30px;
}
.itemCount {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  bottom: 10px;
}
.profile {
  margin-left: 50px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
